{% load static %}
<div class="container">
        
  <!-- main header -->
  <div class="row">
      <div class="main-header">
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                  <div class="logo">
                      <a href="https://zenithsuppliers.com.np"><img src="{% static "images/sobig-logo.jpg" %}" alt="Logo"></a>
                  </div>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 main-header-banner">
                  <div class="herader-banner">
                      <ul class="list-banner">
                          <li><div class="banner1"><a href="https://zenithsuppliers.com.np/search?category=hikvision"><img src="{% static "images/site-profile/9111_Top Ad.jpg" %}" alt="Banner"></a></div></li>
                          <li><div class="banner1"><img src="{% static "images/site-profile/7403_Top Right.png" %}" alt="Banner"></div></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- ./main header -->
</div>