{% load static %}
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="block footer-block-box">
                            <div class="block-head">
                                <div class="block-title">
                                    <div class="block-icon">
                                        <img src="{% static "edo/location-icon.png" %}" alt="store icon">
                                    </div>
                                    <div class="block-title-text text-sm">FIND </div>
                                    <div class="block-title-text text-lg"><h5>Easy Store Nepal</h5></div>
                                </div>
                            </div>
                            <div class="block-inner">
                                <div class="block-info clearfix">
                                    Enter your zip code, city or country to find the closest Sobig Store  near you!
                                </div>
                                <div class="block-input-box box-radius clearfix">
                                    <input type="text" class="input-box-text" placeholder="Zip code, City, Country">
                                    <button class="block-button">Go</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="block footer-block-box">
                            <div class="block-head">
                                <div class="block-title">
                                    <div class="block-icon">
                                        <img src="{% static "edo/email-icon.png" %}" alt="store icon">
                                    </div>email
                                    <div class="block-title-text text-sm">SUBSCRIBE TO</div>
                                    <div class="block-title-text text-lg"><h5>Sobig Online IT Store Nepal</h5></div>
                                </div>
                            </div>
                            <div class="block-inner">
                                <div class="block-info clearfix">
                                    Enter your email to get connected with us and get updated about us.
                                </div>
                                <div class="block-input-box box-radius clearfix">
                                    <input type="text" class="input-box-text" placeholder="Email address">
                                    <button class="block-button">Go</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="block footer-block-box">
                            <div class="block-head">
                                <div class="block-title">
                                    <div class="block-icon">
                                        <img src="{% static "/edo/partners-icon.png" %}" alt="store icon">
                                    </div>
                                    <div class="block-title-text text-sm">our</div>
                                    <div class="block-title-text text-lg">partners</div>
                                </div>
                            </div>
                            <div class="block-inner">
                                <div class="block-owl">
                                    <ul class="kt-owl-carousel list-partners" data-nav="true" data-autoplay="true" data-loop="true" data-items="1">
                                        <li class="partner"><a href="#"><img src="{% static "/edo/partner1.jpg" %}" alt="partner"></a></li>
                                        <li class="partner"><a href="#"><img src="{% static "/edo/partner2.jpg" %}" alt="partner"></a></li>
                                        <li class="partner"><a href="#"><img src="{% static "/edo/partner3.jpg" %}" alt="partner"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-md-2 col-sm-4 block-link-wapper">
                        <div class="block-link">
                            <ul class="list-link">
                                <li class="head"><a href="#">Page Links</a></li>
                                                                    <li><a href="">IT Bridge</a></li>
                                                                    <li><a href="">Help</a></li>
                                                                    <li><a href="">Code of Conduct</a></li>
                                                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 block-link-wapper">
                        <div class="block-link">
                            <ul class="list-link">
                                <li class="head"><a href="#">Buyer Central</a></li>
                                                                    <li><a href="">Products</a></li>
                                                                    <li><a href="">Cart</a></li>
                                                                    <li><a href="">Checkout</a></li>
                                                                    <li><a href="">Terms &amp; Conditions</a></li>
                                                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 block-link-wapper">
                        <div class="block-link">
                            <ul class="list-link">
                                <li class="head"><a href="#">Important Links</a></li>
                                                                    <li><a href="">Products</a></li>
                                                                    <li><a href="">Cart</a></li>
                                                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 block-link-wapper">
                        <div class="block-link">
                            <ul>
                                <li class="head"><a href="#">Contact</a></li>
                                                                    <li><a href="https://zenithsuppliers.com.np/page/help">Help</a></li>
                                                                    <li><a href="https://zenithsuppliers.com.np/page/contact">Contact</a></li>
                                                                    <li><a href="https://zenithsuppliers.com.np/page/about-us">About Us</a></li>
                                                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 block-link-wapper">
                        <div class="block-link">
                            <ul class="list-link">
                                <li class="head"><a href="#">More Links</a></li>
                                                                    <li><a href="">Compare</a></li>
                                                                    <li><a href="https://itbridge.com.np/">IT Bridge</a></li>
                                                            </ul>






                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 block-link-wapper">
                        <div class="block-link">
                            <ul class="list-link flag">
                                <li class="head"><a href="#">Foot Links</a></li>
                                                                    <li><a href="https://zenithsuppliers.com.np">Home</a></li>
                                                                    <li><a href="">Checkout</a></li>
                                                                    <li><a href="zenithsuppliers.com.np/cart">Cart</a></li>
                                                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-social">
        <div class="container">
            <div class="row">
                <div class="block-social">
                    <ul class="list-social">
                        <li><a href="https://facebook.com/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/laravelclass"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://googleplus.com/"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://pininterest.com/"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="https://linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://skype.com/"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
                <div class="block-payment">
                    <ul class="list-logo">

                        <li><a>Cash On Delivery</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4992612550137580"
     crossorigin="anonymous"></script>
	
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="block-coppyright">© Zenithsuppliers. All Rights Reserved..</div>
                <div class="block-shop-phone">
                    <!-- Shop by phone <strong>9851229230</strong> -->
					<span class="made-with nobottommargin">
                  Made with <i class="icon-heart3" style="color: red"></i> by
                  <a href="">Nishan Dai</a>
                </span>
                </div>
            </div>
        </div>
    </div>
</footer>