{% load static %}

<div class="row">
  <div class="box-header">

      <div class="block-wrap-search col-sm-6 col-md-6 col-lg-8">
          <div class="advanced-search box-radius">
            
              <form method="GET" action={% url "products" %} class="form-inline" id="top-header-search">
                  <div class="form-group search-category col-4 col-lg-2 col-sm-4">
                      <select id="category-select-id" class="search-category-select">
                          <option value="all">All Categories &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </option>

                          {% for category in categories %}
                            <option value={{category.title}}>    <span> {{category.title}} </span></option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="form-group search-category col-4 col-lg-3 col-sm-4">
                    <select id="category-select-id" class="search-category-select">
                        <option value="all">Sub Categories &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </option>

                        {% for sub_category in sub_cat %}
                          <option value={{sub_category.title}}>    <span> {{sub_category.title}} </span></option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="form-group search-input" style="width:50%;">
                    {% csrf_token %}
                    <input type="text" name="search" id="top-search-key" placeholder="What are you looking for?" value="{{ search_query }}" style="width:100%">
                  </div>
                  <button type="submit" class="btn-search"><i class="fa fa-search"></i></button>
              </form>
          </div>
      </div>
      <div class="wrap-block-cl col-sm-3 col-md-3 col-lg-2">
           {% comment %} <div 
           
           
           class="inner-cl box-radius">
              <div class="dropdown language">
                  <a data-toggle="dropdown" role="button"><img src="https://zenithsuppliers.com.np/edo/assets/images/en.png" alt="languae1"></a>
                  <ul class="dropdown-menu">
                      <li><a href="https://zenithsuppliers.com.np/language/en"><img src="/edo/data/en.jpg" alt="english">English</a></li>
           <li><a href="https://zenithsuppliers.com.np/language/np"><img src="/edo/assets/images/np.png" alt="nepali">Nepali</a> </li>
                  </ul>
              </div>  
              <div class="dropdown currency">
                  <a data-toggle="dropdown" role="button">NPR</a>
                  <ul class="dropdown-menu">
                                                          <li> <a href="https://zenithsuppliers.com.np/currency/npr" > Rs. NPR </a></li>
                                                  </ul>
              </div>
          </div> {% endcomment %}
      </div>

          
      <div class="block-wrap-cart col-sm-3 col-md-3 col-lg-2" id="header_cart_wrapper">
          <div class="iner-block-cart box-radius">
            
<a href="">
<span class="total">Rs. 0</span>
</a>
</div>
<div class="block-mini-cart">
<div class="mini-cart-content">
<h5 class="mini-cart-head">0 Item in my cart</h5>
<div class="mini-cart-list">
  <ul>
                  </ul>
</div>
<div class="toal-cart">
  <span>Total</span>
  <span class="toal-price pull-right">0.00</span>
</div>
<div class="cart-buttons">
  <a href="#" class="button-radius btn-check-out">Checkout<span class="icon"></span></a>
</div>
</div>
</div>
      </div>

  </div>
</div>
<!-- // ajax for category wise filter -->

<script>  
      {% for category in categories %}
      $('#filter_by_category-{{ category.id }}').on('click', function() {
          var id = $(this).data('id');
        
          $.ajax({
            method: "POST",
            url: "{% url "products" %}",
            data:{
              csrfmiddlewaretoken:"{{csrf_token}}",
              category_id:id,

            },
            success: function (response) {
              var data = $.parseJSON(response);
              if (data.html == "") {
                $("#product-list-wrapper")
                  .html("")
                  .html(
                    '<li class="col-md-12 center"><strong style="padding: 100px;">No Data Matching Filter</strong><li>'
                  );
              } else {
                $("#product-list-wrapper").html("").html(data.html);
              }
            },
          }); 
      });
      {% endfor %}
</script>