<div class="top-bar">
  <div class="container">
      <div class="row">
          <ul class="top-bar-link top-bar-link-left">
              <li><i class="fa fa-phone"></i> Call us:9849275356 </li>
              <li><i class="fa fa-exchange"></i> Free Shipping for all Order of NRS. 5000</li>
          </ul>
          <ul class="top-bar-link top-bar-link-right dot">
                                      <li><a href="zenithsuppliers.com.np/cart">Cart</a></li>
                                      <li><a href="">Checkout</a></li>
                                      <li><a href="https://zenithsuppliers.com.np/page/contact">Contact</a></li>
                                                          <li><a href="https://zenithsuppliers.com.np/customer/login">Login</a></li>
                  <li><a href="https://zenithsuppliers.com.np/customer/register">Register Now</a></li>
                              </ul>
      </div>
  </div>
</div>